@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>La cancha ha sido reservada</h1>

<div>
    Se ha enviado a tu correo un comprobante de la reservacion.
</div>